In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Liver.csv",sep=',',header=0)
df.head(4)

,Cirrhosis,Diagnosis Age,Disease Free (Months),Disease Free Status,Mutation Count,Neoplasm Histologic Grade,Overall Survival Status,Overall Survival (Months),Tumor Other Histologic Subtype
0,4,44,86.9,DiseaseFree,62,I,Living,88.9,NBNC
1,3,59,38.1,Recurred,115,II,Living,88.9,NBNC
2,2,41,83.5,DiseaseFree,55,IIII,Living,88.1,HBV
3,2,44,10.3,Recurred,75,III,Deceased,58.2,NBNC

In [4]:
hp = {'Neoplasm Histologic Grade': {'I': 1, 'II': 2, 'III': 3, 'IIII': 4}}
df = df.replace(hp)

df

,Cirrhosis,Diagnosis Age,Disease Free (Months),Disease Free Status,Mutation Count,Neoplasm Histologic Grade,Overall Survival Status,Overall Survival (Months),Tumor Other Histologic Subtype
0,4,44,86.9,DiseaseFree,62,1,Living,88.9,NBNC
1,3,59,38.1,Recurred,115,2,Living,88.9,NBNC
2,2,41,83.5,DiseaseFree,55,4,Living,88.1,HBV
3,2,44,10.3,Recurred,75,3,Deceased,58.2,NBNC
4,4,56,26.1,Recurred,44,4,Deceased,43.1,HCV
...,...,...,...,...,...,...,...,...,...
226,2,61,19.9,DiseaseFree,205,2,Living,20.5,HBV
227,3,61,16.7,DiseaseFree,1014,3,Living,20.3,HCV
228,4,62,5.6,Recurred,97,3,Living,20.2,HBV
229,4,51,18.4,DiseaseFree,52,3,Living,20.0,HBV
230,4,52,12.2,Recurred,97,2,Living,19.5,HBV

In [5]:
df['Neoplasm Histologic Grade'] = pd.to_numeric(df['Neoplasm Histologic Grade'], errors='coerce')

df['Neoplasm Histologic Grade'] = df['Neoplasm Histologic Grade'].astype('Int64')

In [ ]:
df.dtypes

Cirrhosis                         float64
Diagnosis Age                     float64
Disease Free (Months)             float64
Disease Free Status                object
Mutation Count                    float64
Neoplasm Histologic Grade           Int64
Overall Survival Status            object
Overall Survival (Months)         float64
Tumor Other Histologic Subtype     object
dtype: object

In [10]:
df.isna().sum()

Cirrhosis                         0
Diagnosis Age                     0
Disease Free (Months)             0
Disease Free Status               0
Mutation Count                    0
Neoplasm Histologic Grade         0
Overall Survival Status           0
Overall Survival (Months)         0
Tumor Other Histologic Subtype    0
dtype: int64

In [11]:
# Quitar los valores nulos
df = df.dropna()

# Mostrar las primeras 4 filas después de quitar los nulos
print("\nDataFrame después de quitar los nulos:")
print(df.head(4))

DataFrame después de quitar los nulos:
   Cirrhosis  Diagnosis Age  Disease Free (Months) Disease Free Status  \
0          4             44                   86.9         DiseaseFree
1          3             59                   38.1            Recurred
2          2             41                   83.5         DiseaseFree
3          2             44                   10.3            Recurred

   Mutation Count  Neoplasm Histologic Grade Overall Survival Status  \
0              62                          1                  Living
1             115                          2                  Living
2              55                          4                  Living
3              75                          3                Deceased

   Overall Survival (Months) Tumor Other Histologic Subtype
0                       88.9                           NBNC
1                       88.9                           NBNC
2                       88.1                            HBV
3                       58.2                           NBNC

In [12]:
df.isna().sum()

Cirrhosis                         0
Diagnosis Age                     0
Disease Free (Months)             0
Disease Free Status               0
Mutation Count                    0
Neoplasm Histologic Grade         0
Overall Survival Status           0
Overall Survival (Months)         0
Tumor Other Histologic Subtype    0
dtype: int64

In [14]:

features=['Cirrhosis','Diagnosis Age','Disease Free (Months)','Disease Free Status','Mutation Count','Neoplasm Histologic Grade','Overall Survival (Months)','Tumor Other Histologic Subtype']

label='Overall Survival Status'

In [15]:
from sklearn.svm import SVC #algoritmo maquina soporte vecotrial
from sklearn.preprocessing import LabelEncoder  #manipulacion de texto se convierta a numeros
from sklearn.model_selection import train_test_split   #genera de los datos de entrada, dos sets para,
# uno el proceso de entrenaiento
#y el otro para validar el proceso de entrenamiento

from sklearn.metrics import recall_score, accuracy_score, f1_score, confusion_matrix,classification_report
import seaborn as asns

In [16]:
le=LabelEncoder()
sobrevive=le
y=sobrevive.fit_transform(df[label])
df['Disease Free Status']=le.fit_transform(df['Disease Free Status'])
df['Neoplasm Histologic Grade']=le.fit_transform(df['Neoplasm Histologic Grade'])
df['Tumor Other Histologic Subtype']=le.fit_transform(df['Tumor Other Histologic Subtype'])

y

array([1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [17]:
df

,Cirrhosis,Diagnosis Age,Disease Free (Months),Disease Free Status,Mutation Count,Neoplasm Histologic Grade,Overall Survival Status,Overall Survival (Months),Tumor Other Histologic Subtype
0,4,44,86.9,0,62,0,Living,88.9,2
1,3,59,38.1,1,115,1,Living,88.9,2
2,2,41,83.5,0,55,3,Living,88.1,0
3,2,44,10.3,1,75,2,Deceased,58.2,2
4,4,56,26.1,1,44,3,Deceased,43.1,1
...,...,...,...,...,...,...,...,...,...
226,2,61,19.9,0,205,1,Living,20.5,0
227,3,61,16.7,0,1014,2,Living,20.3,1
228,4,62,5.6,1,97,2,Living,20.2,0
229,4,51,18.4,0,52,2,Living,20.0,0
230,4,52,12.2,1,97,1,Living,19.5,0

In [18]:
xtrain, xtest,ytrain, ytest = train_test_split(df[features],y,test_size=0.20, random_state=0)

In [19]:
print('xtrain.shape' )
print(xtrain.shape)

print('len(ytrain)')
print(len(ytrain))

print('xtest.shape ')
print(xtest.shape)

print('len(ytest)')
print(len(ytest))

xtrain.shape
(169, 8)
len(ytrain)
169
xtest.shape
(43, 8)
len(ytest)
43

In [20]:
df['Overall Survival Status'].value_counts()

Overall Survival Status
Living      176
Deceased     36
Name: count, dtype: int64

In [21]:
svm = SVC (probability=True)
modelo = svm.fit(xtrain,ytrain)
prediccion = modelo.predict(xtest)

In [22]:
# prediccion ~ ytest
prediccion_lista=prediccion.tolist()
ytest_lista = ytest.tolist()

i = 0

for pred in prediccion_lista:
  print(f"{pred} -> {ytest[i]}")
  i+=1

1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 0
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 0
1 -> 1
1 -> 0
1 -> 0
1 -> 1
1 -> 1
1 -> 0
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 0
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 1
1 -> 0
1 -> 1
1 -> 1
1 -> 1
1 -> 1

In [23]:
print('score: ',modelo.score(xtest, ytest))

print('recall_score: ', recall_score(prediccion,ytest, average='micro'))

print('f1_score: ', f1_score(prediccion,ytest,  average='micro'))

print('classification_report=', classification_report(prediccion, ytest))

score:  0.8372093023255814
recall_score:  0.8372093023255814
f1_score:  0.8372093023255814
classification_report=               precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.84      0.91        43

    accuracy                           0.84        43
   macro avg       0.50      0.42      0.46        43
weighted avg       1.00      0.84      0.91        43

/home/xexeyt/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/xexeyt/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/xexeyt/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [24]:
data = {'Cirrhosis': 2, 'Diagnosis Age': 61, 'Disease Free (Months)': 10.3, 'Disease Free Status': 0, 'Mutation Count': 44, 'Neoplasm Histologic Grade':1,'Overall Survival (Months)':43.1,'Tumor Other Histologic Subtype':2}

pp =pd.DataFrame(data, index=[0])
pre_pp= modelo.predict(pp)
print(pp)
sobrevive.inverse_transform(pre_pp.tolist())[0]

   Cirrhosis  Diagnosis Age  Disease Free (Months)  Disease Free Status  \
0          2             61                   10.3                    0

   Mutation Count  Neoplasm Histologic Grade  Overall Survival (Months)  \
0              44                          1                       43.1

   Tumor Other Histologic Subtype
0                               2

'HCV'

In [25]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz
from IPython.display import Image
import pydotplus

In [26]:
#DecisionTreeClassifier
svm = DecisionTreeClassifier (max_depth=5)
modelo = svm.fit(xtrain,ytrain)
prediccion = modelo.predict(xtest)

In [27]:
dot_data = export_graphviz(modelo, out_file=None,
                           feature_names=features,
                           class_names= label,
                           filled=True,rounded=True,
                           special_characters=True)


graph = pydotplus.graph_from_dot_data(dot_data)

Image(graph.create_png())

#la imagen no se me genera por el tema de versiones

InvocationException: GraphViz's executables not found

In [ ]:
print('score: ',modelo.score(xtest, ytest))

print('recall_score: ', recall_score(prediccion,ytest, average='micro'))

print('f1_score: ', f1_score(prediccion,ytest,  average='micro'))

print('classification_report=', classification_report(prediccion, ytest))

score:  0.8297872340425532
recall_score:  0.8297872340425532
f1_score:  0.8297872340425532
classification_report=               precision    recall  f1-score   support

           0       0.44      0.57      0.50         7
           1       0.92      0.88      0.90        40

    accuracy                           0.83        47
   macro avg       0.68      0.72      0.70        47
weighted avg       0.85      0.83      0.84        47

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
#GradientBoostingClassifier
svm = GradientBoostingClassifier ()
modelo = svm.fit(xtrain,ytrain)
prediccion = modelo.predict(xtest)

In [ ]:
print('score: ',modelo.score(xtest, ytest))

print('recall_score: ', recall_score(prediccion,ytest, average='micro'))

print('f1_score: ', f1_score(prediccion,ytest,  average='micro'))

print('classification_report=', classification_report(prediccion, ytest))

score:  0.9361702127659575
recall_score:  0.9361702127659575
f1_score:  0.9361702127659575
classification_report=               precision    recall  f1-score   support

           0       0.67      1.00      0.80         6
           1       1.00      0.93      0.96        41

    accuracy                           0.94        47
   macro avg       0.83      0.96      0.88        47
weighted avg       0.96      0.94      0.94        47