In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

df = pd.read_csv('iris.csv.txt', sep=',', header=0)
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
#se genera el arreglo con el nombre de las figuras.

features=['sepal_length',	'sepal_width',	'petal_length',	'petal_width']
label = 'species'

In [10]:
#cambia los valores a numeros
sle = LabelEncoder()
df['sle'] = sle.fit_transform(df[label])

#muestra los primeros 5 registros
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species  ele  sle
0           5.1          3.5           1.4          0.2  Iris-setosa    0    0
1           4.9          3.0           1.4          0.2  Iris-setosa    0    0
2           4.7          3.2           1.3          0.2  Iris-setosa    0    0
3           4.6          3.1           1.5          0.2  Iris-setosa    0    0
4           5.0          3.6           1.4          0.2  Iris-setosa    0    0

In [13]:
#capturamos los datos
xtrain, xtest, ytrain, ytest = train_test_split(df[features], df.sle, test_size=0.20, random_state=0)

In [14]:
xtrain.shape #120, 4 que es = 0.80

(120, 4)

In [15]:
xtest.shape #30, 4 = 0.20

(30, 4)

In [17]:
print(len(ytrain))

print(len(ytest))

120
30