In [1]:
import pandas as pd
import os
df = pd.read_csv('cdc.csv', header = 0,sep =',')
df

,genhlth,exerany,hlthplan,smoke100,height,weight,wtdesire,age,gender
0,good,0,1,0,70,175,175,77,m
1,good,0,1,1,64,125,115,33,f
2,good,1,1,1,60,105,105,49,f
3,good,1,1,0,66,132,124,42,f
4,very good,0,1,0,61,150,130,55,f
...,...,...,...,...,...,...,...,...,...
19995,good,1,1,0,66,215,140,23,f
19996,excellent,0,1,0,73,200,185,35,m
19997,poor,0,1,0,65,216,150,57,f
19998,good,1,1,0,67,165,165,81,f
19999,good,1,1,1,69,170,165,83,m

In [10]:
df_fum = df[df['smoke100'] == 1]
df_fum = df_fum['height'].mean()
df_fum

67.53648977862514

In [30]:
#personas que fuman
df_fum = df[df['smoke100'] == 1]
#df_fum = df_fum['wtdesire'].mean()
#df_fum = df_fum['wtdesire'].mode()
df_fum = df_fum['wtdesire'].median()
df_fum

#personas que no fuman
df_fuma = df[df['smoke100'] == 0]
#df_fuma = df_fuma['wtdesire'].mean()
#df_fuma = df_fuma['wtdesire'].mode()
df_fuma = df_fuma['wtdesire'].median()
df_fuma

print(df_fum)
print(df_fuma)

155.0
150.0